@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
:root { --color-body:#b6cbce; 
     --color-heading: #eef3db; 
     --color-base: #033f47; 
     --color-base2:#022a30;  
     --color-brand:#e0f780; 
     --color-brand2:#deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}
body{
    background-color: var(--color-base2);
    color: var(--color-brand);
    font-family: var(--font-base), sans-serif;
}
h1,h2,h3,h4,h5,h6 { 
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;

}
a:hover {
    color: var(--color-brand);

}
img{
    width: 100%;
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);


}
.text-brand{
    color: var(--color-brand);
}
    
   











.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

@media ( min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
        
    }
    
}
.navbar .nav-link:hover{
    color: var(--color-brand) ;
}
.navbar-brand img {
    border: 8px solid var(--color-brand);

}
.navbar{
    background-color: var(--color-base);
}
/* CONTENT WRAPPER */
#content-wrapper{
    padding-left:var(--sidbar-width) ;
}
/* BNT */
.btn{
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
    color: var(--color-body);
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.5s;
    
}


.link-custom:hover::after {
    width: 100%;
    

}
.bg-base{
    background-color: var(--color-base);
}
.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand)  ;
}

.icon-box{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--color-base);
    background-color: var(--color-brand);
}

.progress-circle {
    position: relative;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }
  
  .progress-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
  }
  
  .progress-pie {
    width: 100%;
    height: 100%;
    clip: rect(0, 120px, 120px, 60px);
    border-radius: 50%;
  }
  
  .progress-pie-fill {
    width: 100%;
    height: 100%;
    clip: rect(0, 60px, 120px, 0);
    border-radius: 50%;
    background: conic-gradient(#3498db 0% var(--percentage), #ecf0f1 var(--percentage) 100%);
    transform: rotate(var(--percentage));
  }
  

  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


  
  body, html {
    width: 100%;
    height: 100%;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  h1 {
    font-family: montserrat;
    font-size: 40px;
  }
  
  a {
    font-family: Montserrat;
    position: relative;
    text-decoration: none;
  }
  
  a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 0px;
    left: 0%;
    background: var(--color-brand2);
    transition: width .3s ease;
  }
  
  a:hover:after{
    width: 100%;
    left: 0%;
    background: black;
  }
  
  











  body {
    margin: 0;
    height: 100vh;
    
    /* background: rgb(27, 27, 27); */
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid rgb(194, 19, 19);
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

b {
  color: white;
  font-family: 'arial';
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
  
  a {
    color: teal;
  }
}
  





